<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale-1.0"> 
        <link rel="stylesheet" href="/css/Styles.css" type="text/css">
        <script src="https://kit.fontawesome.com/4d07930c60.js" crossorigin="anonymous"></script>
        <title>inicio</title>
    </head>
    <body>
        <div class="container">
            <div class="sidebar">
                <div class="photo-display">
                    <span>Edad: 28</span>
                    <img src="/img/BG_deco-01.png" class="topleft">
                    <img src="/img/rings-01.png" class="photo-decoration">
                    <div class="photo-bg"></div>
                    <img src="/img/IMG_1562.jpg" class="photo position">
                    <span>Mario Armando Laverde</span>
                </div>
                
                
                <nav>
                    <div >
                        <a href="/acerca">Acerca de Mi</a>
                    </div>
                    <div >
                        <a href="/preparacion">Mi Preparación</a>
                    </div>
                    <div >
                        <a href="/experiencia">Mi Experiencia</a>
                    </div>
                    <div class="current_page">
                        <a href="/aptitudes">Lenguajes de programación</a>
                    </div>
                    <div >
                        <a href="/idiomas">Idiomas que hablo</a>
                    </div>
                </nav>
                <div class="myinfo">
                    <div><i class="fas fa-at"></i> </div>
                    <div><i class="fas fa-mobile-alt"></i></div>
                </div>
            </div>
            <div class="content">
                <div class="scrollable">
        
                <div class="progress_container">
                    <div class="hex">
                        <div class="h_bg">
                            c++
                        </div>
                    </div>
                    <div class="BG_bar">
                        <div class="bar" style="width: 40%;"></div>
                        
                    </div>
                </div>
                <div class="progress_container">
                    <div class="hex">
                        <div class="h_bg">
                            c#
                        </div>
                    </div>
                    <div class="BG_bar">
                        <div class="bar" style="width: 80%;"></div>
                        
                    </div>
                </div>
                <div class="progress_container">
                    <div class="hex">
                        <div class="h_bg">
                            PHP
                        </div>
                    </div>
                    <div class="BG_bar">
                        <div class="bar" style="width: 90%;"></div>
                        
                    </div>
                </div>
                <div class="progress_container">
                    <div class="hex">
                        <div class="h_bg">
                            JS
                        </div>
                    </div>
                    <div class="BG_bar">
                        <div class="bar" style="width: 90%;"></div>
                        
                    </div>
                </div>
                <div class="progress_container">
                    <div class="hex">
                        <div class="h_bg">
                            HTML5
                        </div>
                    </div>
                    <div class="BG_bar">
                        <div class="bar" style="width: 95%;"></div>
                        
                    </div>
                </div>
                <div class="progress_container">
                    <div class="hex">
                        <div class="h_bg">
                            c++
                        </div>
                    </div>
                    <div class="BG_bar">
                        <div class="bar" style="width: 60%;"></div>
                        
                    </div>
                </div>
            
            </div>
            
            
            
            
            
            </div>

        </div>

    </body>
</html>

