<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale-1.0"> 
        <link rel="stylesheet" href="/css/Styles.css" type="text/css">
        <script src="https://kit.fontawesome.com/4d07930c60.js" crossorigin="anonymous"></script>
        <title>inicio</title>
    </head>
    <body>
        <div class="container">
            <div class="sidebar">
                <div class="photo-display">
                    <span>Edad: 28</span>
                    <img src="/img/BG_deco-01.png" class="topleft">
                    <img src="/img/rings-01.png" class="photo-decoration">
                    <div class="photo-bg"></div>
                    <img src="/img/IMG_1562.jpg" class="photo position">
                    <span>Mario Armando Laverde</span>
                </div>
                
                
                <nav>
                    <div >
                        <a href="/acerca">Acerca de Mi</a>
                    </div>
                    <div class="current_page">
                        <a href="/preparacion">Mi Preparación</a>
                    </div>
                    <div >
                        <a href="/experiencia">Mi Experiencia</a>
                    </div>
                    <div >
                        <a href="/aptitudes">Lenguajes de programación</a>
                    </div>
                    <div >
                        <a href="/idiomas">Idiomas que hablo</a>
                    </div>
                </nav>
                <div>
                    <div><i class="fas fa-at"></i> </div>
                    <div><i class="fas fa-mobile-alt"></i></div>
                </div>
            </div>
            <div class="content">
                <div><h3 class="tooltip">ETITC<div class="tooltiptext">Escuela Tecnologica Instituto Tecnico Central</div></h3><br>
                    <p>
                        Estudios inconclusos, Cursado hasta quinto semestre.
                    </p><br>
                </div>
                <div><h3>Bictia</h3><br>
                    <p>
                        Bootcamp Fullstack.
                    </p><br>
                </div>
                <div><h3>Auto-Didacta</h3><br>
                    <p>
                        Incluso antes de entrar a la universidad, investigue temas de programacion e informatica desde temprano lo cual me llevo a la eleccion de esta area
                    </p><br>
                </div>
            
            </div>

        </div>

    </body>
</html>

