<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale-1.0"> 
        <link rel="stylesheet" href="/css/Styles.css" type="text/css">
        <script src="https://kit.fontawesome.com/4d07930c60.js" crossorigin="anonymous"></script>
        <title>inicio</title>
    </head>
    <body>
        <div class="container">
            <div class="sidebar">
                <div class="photo-display">
                    <span>Edad: 28</span>
                    <img src="/img/BG_deco-01.png" class="topleft">
                    <img src="/img/rings-01.png" class="photo-decoration">
                    <div class="photo-bg"></div>
                    <img src="/img/IMG_1562.jpg" class="photo position">
                    <span>Mario Armando Laverde</span>
                </div>
                
                
                <nav>
                    <div >
                        <a href="/acerca">Acerca de Mi</a>
                    </div>
                    <div >
                        <a href="/preparacion">Mi Preparación</a>
                    </div>
                    <div class="current_page">
                        <a href="/experiencia">Mi Experiencia</a>
                    </div>
                    <div >
                        <a href="/aptitudes">Lenguajes de programación</a>
                    </div>
                    <div >
                        <a href="/idiomas">Idiomas que hablo</a>
                    </div>
                </nav>
                <div>
                    <div><i class="fas fa-at"></i> </div>
                    <div><i class="fas fa-mobile-alt"></i></div>
                </div>
            </div>
            <div class="content">
                <div><h3>Emlaze S.A.S</h3>
                    <br>
                    <p>
                        Donde se realizaron tareas de:<br>
                        programación de páginas web, desarrollo de aplicaciones web complementarias al sistema principal 
                        que ofrece la empresa, desarrollo de seguridad informática, encagado del sistema de copias de seguridad, 
                        manejo de base de datos MySQL, sopote técnico del servicio prestado.
                    </p>
                    <br>
                </div>
                <div><h3>Bear House S.A.S</h3>
                    <br>
                    
                    <p>
                        Donde se realizaron tareas de:<br>
                        Diseño de videojuegos, programación de niveles, diseño e implementación de mecánicas de juego, diseño e implementacion 
                        de bases de datos, integración de animaciones y sonidos a aplicativos, Comunicación directa con departamento de arte, 
                        exportar aplicativos a andriod web y pc, tester de los aplicativos creados.
                    </p>
                    <br>

                </div>
            
            </div>

        </div>

    </body>
</html>

